extends layout

block scripts
    //- script(type='text/javascript'). //文末の.が重要
        //- var map = L.map('map', {
        //-     center: [51.505, -0.09],
        //-     zoom: 13
        //- });

block content
    h1= title
    p Welcome to #{title}
    div(id='map') 
